/* App.css */

/* Reset default browser styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: #2c3e50;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .button {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.header .button:hover {
  background-color: #34495e;
}

.right {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.right .button + .button {
  margin-left: 10px;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('https://img1.wsimg.com/isteam/ip/4056b383-c074-4d1c-a99e-3e77604927ca/statue-n-skyline_flag.jpg');
  background-size: cover; /* Adjust the size of the background image */
  background-position: center;
}

.footer {
  background-color: #2c3e50;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.footer .button {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.footer .button:hover {
  background-color: #34495e;
}
